In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cockburn Town,TC,2022-08-08 00:04:04,21.4612,-71.1419,300.83,86,88,9.80
1,1,Vardo,NO,2022-08-08 00:04:44,70.3705,31.1107,282.14,87,100,6.69
2,2,Mataura,NZ,2022-08-08 00:04:45,-46.1927,168.8643,278.42,70,7,4.15
3,3,Hermanus,ZA,2022-08-08 00:03:33,-34.4187,19.2345,283.04,85,36,2.00
4,4,Upernavik,GL,2022-08-08 00:03:19,72.7868,-56.1549,278.83,82,89,3.08

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 297
What is the maximum temperature you would like for your trip? 305

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cockburn Town,TC,2022-08-08 00:04:04,21.4612,-71.1419,300.83,86,88,9.80
7,7,Fiumicino,IT,2022-08-08 00:04:48,41.7675,12.2291,300.24,59,0,2.06
17,17,Shenjiamen,CN,2022-08-08 00:04:54,29.9576,122.2980,301.48,83,60,8.20
20,20,Bathsheba,BB,2022-08-08 00:00:18,13.2167,-59.5167,300.40,94,17,7.44
22,22,North Bend,US,2022-08-08 00:04:57,43.4065,-124.2243,297.17,88,0,6.69
23,23,San Carlos,VE,2022-08-08 00:04:57,9.6612,-68.5827,297.84,87,37,1.02
24,24,Half Moon Bay,US,2022-08-08 00:00:35,37.4636,-122.4286,299.85,64,0,6.69
27,27,Kloulklubed,PW,2022-08-08 00:04:59,7.0419,134.2556,299.43,79,100,6.34
31,31,Albany,US,2022-08-08 00:01:21,42.6001,-73.9662,301.77,80,46,2.59
33,33,Kasongo-Lunda,CD,2022-08-08 00:05:02,-6.4667,16.8167,297.72,31,52,1.12

In [25]:
preferred_cities_df.count()

City_ID       208
City          208
Country       208
Date          208
Lat           208
Lng           208
Max Temp      208
Humidity      208
Cloudiness    208
Wind Speed    208
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0   Cockburn Town      TC    300.83  21.4612  -71.1419
7       Fiumicino      IT    300.24  41.7675   12.2291
17     Shenjiamen      CN    301.48  29.9576  122.2980
20      Bathsheba      BB    300.40  13.2167  -59.5167
22     North Bend      US    297.17  43.4065 -124.2243
23     San Carlos      VE    297.84   9.6612  -68.5827
24  Half Moon Bay      US    299.85  37.4636 -122.4286
27    Kloulklubed      PW    299.43   7.0419  134.2556
31         Albany      US    301.77  42.6001  -73.9662
33  Kasongo-Lunda      CD    297.72  -6.4667   16.8167

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Cockburn Town,TC,300.83,21.4612,-71.1419,Osprey Beach Hotel
7,Fiumicino,IT,300.24,41.7675,12.2291,Hotel Al Porticciolo
17,Shenjiamen,CN,301.48,29.9576,122.2980,Jinjiang Inn Zhoushan Putuo Shenjiamen
20,Bathsheba,BB,300.40,13.2167,-59.5167,Atlantis Hotel
22,North Bend,US,297.17,43.4065,-124.2243,Red Lion Hotel Coos Bay
23,San Carlos,VE,297.84,9.6612,-68.5827,Hotel Paternopoli
24,Half Moon Bay,US,299.85,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
27,Kloulklubed,PW,299.43,7.0419,134.2556,Storyboard Beach Resort
31,Albany,US,301.77,42.6001,-73.9662,
33,Kasongo-Lunda,CD,297.72,-6.4667,16.8167,